<h1> All Shelters </h1>


<% @shelters.each do |shelter| %>
  <section id = 'shelter-<%= shelter.id %>'>
    <h2> <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %> </h2>

    <h6> <%= link_to 'Update Shelter', "/shelters/#{shelter.id}" %> </h6>
    <h6> <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete %> </h6>
  </section>
  <br>
<% end %>
<h3 align="center"> <%= link_to 'New Shelter', '/shelters/new' %> </h3>
