<h1>Add a New Adoptable Pet To A Shelter</h1>

<%= form_tag "/shelters/#{@shelter.id}/pets", method: :post do %>
  <p>Enter Pet Image URL</p>
  <%= text_field_tag :image %>
  <p>Enter Pet Name</p>
  <%= text_field_tag :name %>
  <p>Enter Pet Description</p>
  <%= text_field_tag :description %>
  <p>Enter Pet Approximate Age</p>
  <%= text_field_tag :age %>
  <p>Enter Pet Sex (Female or Male)</p>
  <%= text_field_tag :sex %>
  <%= submit_tag 'Submit' %>
<% end %>
