<h1><%= @pet.name %></h1>

  <img src= <%= @pet.image %>></img>
  <p>Name: <%= link_to "#{@pet.name}", "/pets/#{@pet.id}" %></p>
  <p>Description: <%= @pet.description %></p>
  <p>Age: <%= @pet.age %></p>
  <p>Sex: <%= @pet.sex %></p>

  <% if @pet.status == 'adoptable' %>
    <p>Status: <%= @pet.status %></p>
  <% else  @pet.status == 'pending' %>
    <p>Status: <%= @pet.status %>
      <br>
      <%= "#{@pet.name} is on hold for #{Application.all.last.name}" %>
  <% end %>

  <% if favorites.keys_to_i(@favorites.contents).include? @pet.id %>
      <%= button_to 'Unfavorite!', "/favorites/#{@pet.id}", method: :delete %>
    <% else %>
      <%= button_to 'Favorite!', "/favorites/#{@pet.id}", method: :patch %>
    <% end %>

  <h3> <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %> </h3>
  <h3> <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %> </h3>
  <br>
  <br>
  <h3>Current Applications for <%= @pet.name %></h3>
  <br>
  <% @pet.applications.each do |application| %>
    <%= link_to application.name, "/applications/#{application.id}", method: :get %>
  <% end %>
